@value makerGreen, makerWhite from '../../common/colors.css';

.footer {
  width: 100%;
  padding: 1.2em 0;
  background-color: makerGreen;
  text-align: center;
}

.title {
  text-decoration: none;
  color: makerWhite;
}